---
import styles from "./learning.module.scss";
---

<div data-theme="dark" class={styles.container}>
	<div class={`container-wide ${styles.learning}`}>
		<h2 class="h2 gradient-heading">
			Real-World Expertise, Certified Results
		</h2>
		<div class={styles.info}>
			<p class="text">
				Go beyond theoretical knowledge. Adgytec Learning specializes in
				creating tailored training solutions designed to meet the
				specific compliance requirements and strategic goals of
				embassies, government agencies, and corporations. We empower
				your teams with the digital skills and cyber resilience needed
				to navigate complex regulatory environments and drive successful
				Digital Transformation initiatives across your organization.
			</p>

			<p class="text">
				This practical approach ensures you gain skills that are
				immediately valuable and job-ready, helping you to achieve
				certified results and advance your career effectively in the
				digital landscape.
			</p>
		</div>
	</div>
</div>
