---
import styles from "./learning.module.scss";
---

<div data-theme="dark" class={styles.container}>
	<div class={`container-wide ${styles.learning}`}>
		<h2 class="h2 gradient-heading">
			Adgytec Learning – Empowering Tomorrow’s Digital Professionals
		</h2>
		<div class={styles.info}>
			<p class="text">
				Practical, industry-focused training in Cloud, AI,
				Cybersecurity, Networking and Digital Transformation – designed
				for embassies, government agencies, corporations,
				and individuals.
			</p>

			<p class="text">
				Adgytec Learning is the training arm of Adgytec IT Solutions
			</p>

			<p class="text">
				Focus on bridging the gap between theory and practice.
			</p>

			<p class="text">
				Backed by Adgytec’s real-world expertise in cloud security,
				networking, and digital transformation.

				<a href="/learning" data-variant="primary" data-type="link"
					>Learn More
				</a>
			</p>
		</div>
	</div>
</div>
