---
import styles from "./learning.module.scss";
---

<div data-theme="light" class={styles.container_offer}>
	<div class={`container-wide ${styles.learning}`}>
		<h2 class="h2">What We Offer (Coming Soon Teaser)</h2>

		<ol>
			<li class="text">Cybersecurity Awareness & Cloud Security</li>
			<li class="text">Networking & CCNA/CCNP Labs</li>
			<li class="text">AI & Machine Learning for Beginners</li>
			<li class="text">
				Digital Skills for Diplomats, NGOs, & Governement Agencies.
			</li>
			<li class="text">
				Practical IT Workshops for Senior Professionals
			</li>
		</ol>
	</div>
</div>
