---
import styles from "./partners.module.scss";
---

<div data-theme="light" class={styles.partner_container}>
	<h3 class="h4">Partners in Digital Transformation</h3>

	<div class={`container-wide ${styles.container_wide}`}>
		<div class={styles.partner}>
			<div>
				<img
					loading="lazy"
					width="192"
					height=""
					src="/ecrimino.webp"
					alt="ecrimino"
				/>
			</div>
			<div>
				<img
					loading="lazy"
					width="192"
					height=""
					src="/bomoko-white.webp"
					alt="bomoko siyanda"
				/>
			</div>
			<div>
				<img
					loading="lazy"
					width="192"
					height=""
					src="/one.webp"
					alt="gov"
				/>
			</div>
			<div>
				<img
					loading="lazy"
					width="192"
					height=""
					src="/traveleyes.webp"
					alt="traveleyes"
				/>
			</div>
			<div>
				<img
					loading="lazy"
					width="192"
					height=""
					src="/rural.webp"
					alt="minisitry of rural development"
				/>
			</div>
			<div>
				<img
					loading="lazy"
					width="192"
					height=""
					src="/embassy.webp"
					alt="congo embassy"
				/>
			</div>
			<div>
				<img
					loading="lazy"
					width="192"
					height=""
					src="/ecrimino.webp"
					alt="ecrimino"
				/>
			</div>
			<div>
				<img
					loading="lazy"
					width="192"
					height=""
					src="/bomoko-white.webp"
					alt="bomoko siyanda"
				/>
			</div>
			<div>
				<img
					loading="lazy"
					width="192"
					height=""
					src="/one.webp"
					alt="gov"
				/>
			</div>
			<div>
				<img
					loading="lazy"
					width="192"
					height=""
					src="/traveleyes.webp"
					alt="traveleyes"
				/>
			</div>
			<div>
				<img
					loading="lazy"
					width="192"
					height=""
					src="/rural.webp"
					alt="minisitry of rural development"
				/>
			</div>
			<div>
				<img
					loading="lazy"
					width="192"
					height=""
					src="/embassy.webp"
					alt="congo embassy"
				/>
			</div>
			<div>
				<img
					loading="lazy"
					width="192"
					height=""
					src="/ecrimino.webp"
					alt="ecrimino"
				/>
			</div>
			<div>
				<img
					loading="lazy"
					width="192"
					height=""
					src="/bomoko-white.webp"
					alt="bomoko siyanda"
				/>
			</div>
			<div>
				<img
					loading="lazy"
					width="192"
					height=""
					src="/one.webp"
					alt="gov"
				/>
			</div>
			<div>
				<img
					loading="lazy"
					width="192"
					height=""
					src="/traveleyes.webp"
					alt="traveleyes"
				/>
			</div>
			<div>
				<img
					loading="lazy"
					width="192"
					height=""
					src="/rural.webp"
					alt="minisitry of rural development"
				/>
			</div>
			<div>
				<img
					loading="lazy"
					width="192"
					height=""
					src="/embassy.webp"
					alt="congo embassy"
				/>
			</div>
		</div>
	</div>
</div>
