@use "/src/styles/abstracts/media-queries" as ab;

.partner_container {
	background-color: var(--bg-800);
	color: var(--text);

	padding-block: 3em;
	display: grid;
	gap: 2em;

	h3 {
		text-align: center;
	}

	.container_wide {
		overflow: hidden;

		.partner {
			--_count: 6;
			--_w: 192px;
			--_g: 5em;

			--_t: calc(
				-1 * (var(--_count) * var(--_w) + var(--_count) * var(--_g))
			);

			display: flex;
			gap: var(--_g);

			align-items: center;
			animation: loop 12s linear infinite;

			> * {
				min-width: 12rem;
			}

			&:hover {
				animation-play-state: paused;
			}
		}
	}
}

@keyframes loop {
	from {
		translate: 0;
	}
	to {
		translate: var(--_t);
	}
}
