@use "./abstracts" as ab;
@use "./section/footer";

nav {
	padding-block: 1em;
	position: relative;

	z-index: 1;

	a {
		img {
			width: 15rem;
		}
	}
}

.h6 {
	letter-spacing: 0;
}

.h2 {
	// line-height: clamp(6.25rem, 8vw, 7.375rem);
	line-height: calc(3.5rem + 0.5em);
	line-height: 1.2em;
}

#privacy {
	background-color: var(--bg-800);
	color: var(--text);
	padding-block: 2em 4em;

	> div {
		display: grid;
		gap: 2em;

		> div {
			display: grid;
			gap: 1em;
		}
	}
}

#notfound {
	position: relative;
	height: 100dvb;
	height: 100svb;
	width: 100dvi;

	display: grid;
	place-items: center;

	nav {
		position: absolute;
		top: 0;
		left: 50%;
		translate: -50%;
		z-index: 1;
	}

	#canvas1 {
		position: absolute;
		top: 0;
		left: 0;
	}

	h1 {
		--angle: 90deg;

		text-align: center;
		padding-block-end: 1rem;

		color: transparent;
		background-clip: text;
		background-image: linear-gradient(
			var(--angle),
			var(--accent-secondary-active),
			var(--accent-secondary),
			var(--accent-secondary-hover)
		);
		background-size: 500% 500%;
		background-repeat: no-repeat;

		animation: flow 5s ease infinite;
	}

	p {
		position: absolute;
		bottom: 10%;
	}
}

@keyframes flow {
	0% {
		background-size: 0% center;
	}
	50% {
		background-size: 500% 500%;
	}
	100% {
		background-size: 0% center;
	}
}

#response {
	display: grid;
	place-items: center;

	height: 70dvb;
	height: 70svb;

	text-align: center;
}

.canvas {
	canvas {
		position: fixed;
		top: 0;
		left: 0;
	}
}
