@use "/src/styles/abstracts/media-queries" as ab;

.portfolio_container {
	--background-size: 0%;
	--tx: 0;

	background-color: var(--bg-800);
	color: var(--text);
	padding-block: 4em;

	.portfolio {
		position: sticky;
		top: 1em;

		h2 {
			color: var(--text);
			max-width: max-content;

			@supports (animation-timeline: view()) {
				color: rgba(0, 0, 0, 0.123);
				background-image: linear-gradient(
					90deg,
					var(--text),
					var(--text)
				);

				background-clip: text;
				background-repeat: no-repeat;
				background-size: 0% 100%;

				animation-name: text-reveal;
				animation-timing-function: linear;
				animation-fill-mode: forwards;
				animation-timeline: view();

				animation-range-start: contain 10vb;
				animation-range-end: contain 40vb;
			}
		}

		> div {
			margin-block-start: 4em;
		}

		&_items {
			--o: 1;

			display: grid;
			gap: 5em;

			@supports (animation-timeline: view()) {
				animation-name: scroll-opacity;
				animation-timing-function: linear;
				animation-fill-mode: forwards;
				animation-timeline: view();

				animation-range-start: contain 0%;
				animation-range-end: contain 100%;
			}

			h3 {
				font-weight: 500;
				grid-area: title;
			}

			p {
				grid-area: about;

				@include ab.screen-64 {
					position: relative;

					&::before {
						position: absolute;
						content: "";
						top: 0;
						bottom: 0;
						background-color: var(--dark);
						width: 0.15em;
						left: -2%;
					}
				}
			}

			video {
				width: 100%;
			}

			> :nth-child(2) {
				opacity: 1;
				@include ab.screen-48 {
					grid-template-areas:
						"title about about about about about"
						"video video video video video video";
				}
			}

			&_child {
				display: grid;
				gap: 1em;

				grid-template-areas:
					"title"
					"video"
					"about";

				box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px,
					rgba(0, 0, 0, 0.09) 0px 4px 2px,
					rgba(0, 0, 0, 0.09) 0px 8px 4px,
					rgba(0, 0, 0, 0.09) 0px 16px 8px,
					rgba(0, 0, 0, 0.09) 0px 32px 16px;
				border-radius: 0.75em;
				padding: 1em 1em 0.5em;

				position: sticky;
				top: 3vb;
				opacity: var(--o);

				background-color: var(--bg-800);

				@include ab.screen-48 {
					column-gap: 4em;
					row-gap: 2em;

					max-height: min-content;

					grid-template-areas:
						"title about about about"
						"video video video video";
				}

				div {
					position: relative;
					overflow: auto;
					border-radius: 0.75rem;
					grid-area: video;

					&::before {
						position: absolute;
						content: "";
						inset: 0;
						background-color: transparent;
					}
				}
			}
		}
	}
}

@keyframes scroll-opacity {
	0% {
		--o: 1;
	}
	10% {
		--o: 0.9;
	}
	20% {
		--o: 0.8;
	}
	30% {
		--o: 0.7;
	}
	40% {
		--o: 0.6;
	}
	50% {
		--o: 0.5;
	}
	60% {
		--o: 0.4;
	}
	70% {
		--o: 0.3;
	}
	80% {
		--o: 0.2;
	}
	90% {
		--o: 0.1;
	}
	100% {
		--o: 0;
	}
}

@keyframes text-reveal {
	to {
		background-size: 100% 100%;
	}
}
