@use "../abstracts/media-queries" as ab;

.aboutus-container {
	padding-block: 3em;

	> div {
		display: grid;
		gap: clamp(2.5em, 4vw, 3.5em);

		> div {
			display: grid;
			gap: 2em;
		}
	}

	h2 {
		--angle: 270deg;
	}

	// p > span {
	// 	color: rgba(255, 255, 255, 0.226);

	// 	background-image: linear-gradient(90deg, var(--text), var(--text));
	// 	background-clip: text;
	// 	background-repeat: no-repeat;
	// 	background-size: var(--x, 0%) 100%;

	// 	transition: background-size 150ms linear;
	// }
	p > span {
		color: var(--text);

		@supports (animation-timeline: view()) {
			color: rgba(255, 255, 255, 0.226);
			background-image: linear-gradient(90deg, var(--text), var(--text));

			background-clip: text;
			background-repeat: no-repeat;
			background-size: 0% 100%;

			animation-name: text-reveal;
			animation-timing-function: linear;
			animation-fill-mode: forwards;
			animation-timeline: view();

			animation-range-start: cover 0%;
			animation-range-end: cover 30vb;
		}
	}

	div > p:last-child span {
		@supports (animation-timeline: view()) {
			animation-range-start: cover 20.5vb;
			animation-range-end: cover 60vb;
		}
	}
}

@keyframes text-reveal {
	to {
		background-size: 100% 100%;
	}
}
