@use "../abstracts/media-queries" as ab;

.aboutus-container {
	padding-block: 3em;

	> div {
		display: grid;
		gap: clamp(2.5em, 4vw, 3.5em);

		> div {
			display: grid;
			gap: 2em;
		}
	}

	h2 {
		--angle: 270deg;
	}

	p > span {
		color: rgba(255, 255, 255, 0.226);

		background-image: linear-gradient(90deg, var(--text), var(--text));
		background-clip: text;
		background-repeat: no-repeat;
		background-size: var(--x, 0%) 100%;

		transition: background-size 150ms linear;
	}
}

@keyframes text-reveal {
	to {
		background-size: 100% 100%;
	}
}
