@use "../abstracts/media-queries" as ab;

main {
	--times: 5;
	height: calc(var(--times) * 100vh);
	position: relative;

	#canvas1 {
		position: sticky;
		top: 0;
		left: 0;
	}

	> div {
		position: absolute;
		inset: 0;
	}

	h1 {
		position: sticky;
		top: 50%;
		font-size: 18vw;
		text-align: center;

		translate: 0 -50%;
		color: rgba(255, 255, 255, 0.178);

		background-image: linear-gradient(90deg, var(--text), var(--text));

		background-clip: text;
		background-repeat: no-repeat;

		background-size: 0;

		animation: adgytec-load 300ms linear forwards;
		overflow: hidden;

		span {
			--scale: 1.1;
			--translate: 100px;

			display: inline-block;
			scale: var(--scale);

			transition: scale 100ms linear, translate 100ms linear;

			&.left {
				translate: calc(-1 * var(--translate));
			}

			&.right {
				translate: var(--translate);
			}
		}
	}
}

@keyframes adgytec-load {
	0% {
		background-size: 0;
	}
	100% {
		background-size: 100%;
	}
}
