@use "../abstracts/media-queries" as ab;

main {
	--times: 2;
	--scale: 1;
	--translatez: 0;
	--translatex: 0;

	height: calc(var(--times) * 100vh);
	position: relative;

	#canvas1 {
		position: sticky;
		top: 0;
		left: 0;
		width: 99%;
		margin-inline: auto;
	}

	> div {
		position: absolute;
		inset: 0;

		overflow: clip;
	}

	h1 {
		font-weight: 500;
		position: sticky;
		top: 50vb;
		font-size: 18vw;
		text-align: center;

		translate: 0 -50%;

		animation: adgytec-scale 400ms linear forwards;

		perspective: 200px;

		span {
			display: inline-block;
			transition: transform 200ms linear;

			&.left {
				--lt: calc(-1.6 * var(--translatex));

				transform: translate3d(var(--lt), 0px, var(--translatez))
					scale(var(--scale));
			}

			&.right {
				transform: translate3d(
						var(--translatex),
						0px,
						var(--translatez)
					)
					scale(var(--scale));
			}
		}
	}
}

@keyframes adgytec-scale {
	0% {
		scale: 0.4;
		opacity: 0.1;
	}

	100% {
		scale: 1;
		opacity: 1;
	}
}

main + div {
	height: 200vb;
	background-color: var(--bg-800);
	color: var(--text);
}
