@use "../abstracts/media-queries" as ab;

main {
	--times: 2;
	--scale: 1;
	--opacity: 1;

	height: calc(var(--times) * 100vh);
	position: relative;

	#canvas1 {
		position: sticky;
		top: 0;
		left: 0;
		width: 99%;
		margin-inline: auto;
	}

	> .heading-container {
		position: absolute;
		inset: 0;

		overflow: clip;
	}

	p {
		position: sticky;
		top: 90vb;

		text-align: center;

		backdrop-filter: blur(4px);
		padding-block: 0.5em;

		translate: 0 -50%;
	}

	h1 {
		font-weight: 500;
		position: sticky;
		top: 50vb;
		font-size: 19vw;
		text-align: center;

		translate: 0 -50%;

		scale: var(--scale);
		opacity: var(--opacity);

		transition: opacity 100ms linear, scale 100ms linear;
	}
}

main + div {
	height: 200vb;
	background-color: var(--bg-800);
	color: var(--text);
}
