@use "../abstracts/media-queries" as ab;

.partner-container {
	background-color: var(--bg-800);
	color: var(--text);

	padding-block: 3em;

	h3 {
		text-align: center;
	}

	> div {
		display: grid;
		grid-template-columns: repeat(5, auto);
		place-items: center;

		gap: 3em;
	}
}
