@use "../abstracts/media-queries" as ab;

.partner-container {
	background-color: var(--bg-800);
	color: var(--text);

	padding-block: 3em;
	display: grid;
	gap: 2em;

	h3 {
		text-align: center;
	}

	.container-wide {
		overflow: hidden;

		.partner {
			display: flex;
			gap: 5em;

			align-items: center;
			animation: loop 12s linear infinite;

			> * {
				min-width: 12rem;
			}

			&:hover {
				animation-play-state: paused;
			}
		}
	}
}

@keyframes loop {
	from {
		translate: 0;
	}
	to {
		translate: -1360px;
	}
}
