@use "../abstracts/media-queries" as ab;

.portfolio-container {
	--background-size: 0%;

	background-color: var(--bg-800);
	color: var(--text);
	padding-block: 4em;

	@include ab.screen-48 {
		height: 300vb;
	}

	.portfolio {
		position: sticky;
		top: 1em;

		h2 {
			background-image: linear-gradient(90deg, var(--text), var(--text));
			color: rgba(0, 0, 0, 0.123);
			background-clip: text;
			background-repeat: no-repeat;

			background-size: var(--background-size);

			transition: background-size 0ms linear;

			max-width: max-content;
		}

		&-items {
			margin-block-start: 4em;
			display: grid;
			gap: 3em;
			overflow: hidden;

			@include ab.screen-48 {
				grid-template-columns: repeat(2, 100%);
			}

			h3 {
				font-weight: 500;
				grid-area: title;
			}

			p {
				grid-area: about;

				@include ab.screen-64 {
					position: relative;

					&::before {
						position: absolute;
						content: "";
						top: 0;
						bottom: 0;
						background-color: var(--dark);
						width: 0.15em;
						left: -2%;
					}
				}
			}

			video {
				width: 100%;
			}

			> :nth-child(2) {
				@include ab.screen-48 {
					grid-template-areas:
						"title about about about about about"
						"video video video video video video";
				}
			}

			&__child {
				display: grid;
				gap: 1em;

				outline: 2px solid red;

				grid-template-areas:
					"title"
					"video"
					"about";

				@include ab.screen-48 {
					column-gap: 4em;
					row-gap: 2em;

					max-height: min-content;

					grid-template-areas:
						"title about about about"
						"video video video video";
				}

				div {
					position: relative;
					overflow: auto;
					border-radius: 0.75rem;
					grid-area: video;

					@include ab.screen-48 {
						max-height: 60vb;
						border-radius: 0;
						overflow: hidden;
					}

					&::before {
						position: absolute;
						content: "";
						inset: 0;
						background-color: transparent;
					}
				}
			}
		}
	}
}
