---
import styles from "./about.module.scss";
---

<div data-theme="dark" class={styles.aboutus_container}>
	<div class="container-wide">
		<h2 class="h2 gradient-heading">ABOUT ADGYTEC</h2>

		<div>
			<p class="text">
				<span>
					We partner to challenge potential. As a full-service IT
					consultancy, we drive 360° Digital Transformation to offer
					integrated IT services like networking, cloud computing,
					computer maintenance, and cyber-security with end-to-end
					marketing, design, and development.
				</span>
			</p>

			<p class="text">
				<span>
					At Adgytec, our mission is to drive digital success. Over
					the years, we’ve worked with esteemed organisations like the
					Ministry of Rural Development of Congo DRC (project Prise) ,
					the Embassy of the Democratic Republic of the Congo in
					India, the Embassy of the Republic of Guinea in India, the
					School of Criminology (University of Kinshasa), Bomoko
					Siyanda and Traveleyes Pvt Ltd We commit to ensuring a
					unified approach that leverages the latest market and
					technology trends for your digital progress. More than a
					service provider, we are your strategic partner in digital
					transformation.
					<br />
					#AgileWithAdgytec
				</span>
			</p>
		</div>
	</div>
</div>
